{{ block styles }}
<style>
 .otree-body { 
    font: 14px helvetica neue, helvetica, arial, sans-serif;
    max-width:600px
  }
  
  #cy {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 200px;
  display: block;
  }
  
  #info {
    color: #c88;
    font-size: 2em;
    width: 800px;
    height: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }



</style>


{{ endblock }}

{{ block title }}
<dl class="lng-Title">Pick the arrows (edges) between variables according to data.</dl>
{{ endblock }}


{{ block content }}

<div class = "lang-container">
    <select class="change-lang">
        <option value="en">EN</option>
        <option value="ru">RU</option>
    </select>
</div>

<br>

<div class="tg-wrap">
    <table id="menu" class="table table-striped" style="
  margin: auto; width:60; text-align: center; font-size: 12px; line-height: 0.8;">
        <col width="10%">
        <col width="30%">
        <col width="30%">
        <col width="30%">
        <tbody>
        <tr>
            <td class="searchable3"></td>
            <td class="searchable3">

                <button id="myButtonX" onclick="toggleX(this);" type="button" class="btn btn-outline-dark btn-sm">
                    Force X=1 (DO X)
                </button>
                <script>
                    let seed = js_vars.seed;
                    function minifunc(number){
                    if (number == 1 || number == 3){return "Z"}
                    if (number == 0 || number == 5){return "Y"}
                    if (number == 2 || number == 4){return "X"}
                    }

                    document.getElementById("myButtonX").innerText = 'Force X=1 (DO X)'
                </script>

                <div class="input-group"><span class="input-group-addon"></span>
            </td>
            <td class="searchable3">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <button id="myButtonY" onclick="toggleY(this);" type="button" class="btn btn-outline-dark btn-sm">
                    Force Y=1 (DO Y)
                </button>
                <script>
                    let seed = js_vars.seed;
                    function minifunc(number){
                    if (number == 1 || number == 3){return "Z"}
                    if (number == 0 || number == 5){return "Y"}
                    if (number == 2 || number == 4){return "X"}
                    }

                    document.getElementById("myButtonY").innerText = 'Force Y=1 (DO Y)'
                </script>

                <div class="input-group"><span class="input-group-addon"></span>
            </td>

            <td class="searchable3">

                <button style="display: none;" id="myButtonZ" onclick="toggleZ(this);" type="button" class="btn btn-outline-dark btn-sm">
                    Force Z=1 (DO Z)
                </button>
                <script>
                    let seed = js_vars.seed;
                    function minifunc(number){
                    if (number == 1 || number == 3){return "Z"}
                    if (number == 0 || number == 5){return "Y"}
                    if (number == 2 || number == 4){return "X"}
                    }

                    document.getElementById("myButtonZ").innerText = 'Force Z=1 (DO Z)'
                </script>

                <div class="input-group"><span class="input-group-addon"></span>
            </td>
        </tr>
        <tr>

        </tbody>
    </table>
</div>


<!-- <div>Observational data</div> -->

<table id="interv" hidden="true" class="table table-striped"
       style="width:60; text-align: center; font-size: 12px; line-height: 0.8;">
    <col width="10%">
        <col width="30%">
        <col width="30%">
        <col width="30%">

    <tbody class="searchable2">
    <tr>
        <td class="searchable2"></td>
        <td class="searchable2">
            X
            <br/>
            <label><input id="filterx_i" type="checkbox">1</label>
            <label><input id="filterx0_i" type="checkbox">0</label>
            <div class="input-group"><span class="input-group-addon"></span>


        </td>
        <td class="searchable2">Y
            <br/>
            <label><input id="filtery_i" type="checkbox">1</label>
            <label><input id="filtery0_i" type="checkbox">0</label>
            <div class="input-group"><span class="input-group-addon"></span>
                <!-- <label><input id="myButton" onclick="toggle(this);" type="checkbox" >do(1)</label> -->
                <!-- <div class="input-group"> <span class="input-group-addon"></span> -->

        </td>
        <td class="searchable2">Z
            <br/>
            <label><input id="filterz_i" type="checkbox">1</label>
            <label><input id="filterz0_i" type="checkbox">0</label>
            <div class="input-group"><span class="input-group-addon"></span>
        </td>
    </tr>
    {% for i, x, y, z in datasetint %}
    <tr>
        <td>{{ i }}</td>
        <td>{{ x }}</td>
        <td>{{ y }}</td>
        <td>{{ z }}</td>
    </tr>
    {% endfor %}
    <tr></tr>

        {% for i in frequenciesint %}
        <td>{{ i }}</td>
        {% endfor %}

    </tbody>
</table>


<table id="observ" class="table table-striped" style="width:60; text-align: center; font-size: 12px; line-height: 0.8;">
    <col width="10%">
        <col width="30%">
        <col width="30%">
        <col width="30%">

    <tbody class="searchable">
    <tr>
        <td class="searchable"></td>
        <td class="searchable">
            X
            <br/>
            <label><input id="filterx" type="checkbox">1</label>
            <label><input id="filterx0" type="checkbox">0</label>
            <div class="input-group"><span class="input-group-addon"></span>


        </td>
        <td class="searchable">Y
            <br/>
            <label><input id="filtery" type="checkbox">1</label>
            <label><input id="filtery0" type="checkbox">0</label>
            <!-- <label><input id="myButton" onclick="toggle(this);" type="checkbox" >do(1)</label> -->
            <!-- <div class="input-group"> <span class="input-group-addon"></span> -->

        </td>
        <td class="searchable">Z
            <br/>
            <label><input id="filterz" type="checkbox">1</label>
            <label><input id="filterz0" type="checkbox">0</label>
            <div class="input-group"><span class="input-group-addon"></span>

        </td>
    </tr>
    {% for i, x, y, z in datasetobs %}
    <tr>
        <td>{{ i }}</td>
        <td>{{ x }}</td>
        <td>{{ y }}</td>
        <td>{{ z }}</td>
    </tr>
    {% endfor %}
    <tr></tr>

        {% for i in frequenciesobs %}
        <td>{{ i }}</td>
        {% endfor %}

    </tbody>
</table></div><br/>

<!--
<script>document.write("мой текст!");</script>
-->

<div id="freqs">Freqs: {% for i in frequenciesobs %}
                            {{ i }}
                            {% endfor %}
</div>

<div>
    <p class="lng-DtText">Choose (click) the edges as follows: leave it dashed if there is no influence from one variable to another variable, or make it solid if there is.
            Remember that each variable could be simultaneously ONLY ONE of the following: a) independent b) cause с) effect.
    </p>

    <br/>
</div>
<div id="cy"></div>


<br>
<div align="center">
    <div class="slidecontainer">
        <p>
        <h3 class = "lng-confidence">Choose your confidence</h3></p>
        <input type="range" min="1" max="10" value="3" class="slider" id="myRange">
    </div>
</div>


{{ next_button }}

<script src="{{ static 'global/cytoscape.min.js' }}"></script>

<script src=”https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js”></script>

<script src="{{ static  'data_to_dgp/lang.js'  }}"></script>
<script src="{{ static  'data_to_dgp/utils.js'  }}"></script>

<script>
function crfunc(b1, b2){
  if (b1){return "0";}

  else if (b2){return "1";}

  else {return "-1";}
}

var cy = cytoscape({
  container: document.getElementById('cy'),

  boxSelectionEnabled: false,
  autounselectify: true,

  style: cytoscape.stylesheet()



    .selector('node')
      .css({
        'content': 'data(name)',
        'text-valign': 'center',
        'color': 'black',
        // 'text-outline-width': 2,
        // 'text-outline-color': undefined,
        'background-color': '#666'
      })
    .selector(':selected')
      .css({
        'background-color': 'black',
        'line-color': 'black',
        'target-arrow-color': 'black',
        'source-arrow-color': 'black',
        'text-outline-color': 'black'
      })
    .selector('edge')
      .css({
        'width': 2,
        'line-color': '#ccc',
        'target-arrow-color': 'black',
        'target-arrow-shape': 'triangle',
        'curve-style': 'bezier',
        'line-style': 'dashed'
      })
      .selector('edge[label]')
      .css({
        "label": "data(label)",
        "width": 3
      })
      .selector('layout')
      .css({
        'name': 'grid',
        'rows': 1,
        'cols': 2,
        'padding': 15,
      })
      ,

  

      
  elements: {
    nodes: [
      // { style: {'border-color': "red"}, data: {counter:0, id: 'a', name: '-', } },
      { data: {counter:0, id: 'X', name: 'X', }, style: { 'background-color': '#c3cec0' } },
      { data: {counter:0, id: 'Y', name: 'Y', },  style: { 'background-color': '#c3cec0' }},
      { data: {counter:0, id: 'Z', name: 'Z', },  style: { 'background-color': '#c3cec0' }},
      // { data: {counter:0, id: 'Z', name: '-', } }
    ],
    edges: [
      { data: {counter:0, weight:0, id: 'XY', source: 'X', target: 'Y', label: ""} },
      { data: {counter:0, weight:0, id: 'YX', source: 'Y', target: 'X', label: ""} },
      { data: {counter:0, weight:0, id: 'YZ', source: 'Y', target: 'Z' , label: ""} },
      { data: {counter:0, weight:0, id: 'XZ', source: 'X', target: 'Z' , label: ""} },
      { data: {counter:0, weight:0, id: 'ZY', source: 'Z', target: 'Y' , label: ""} },
      { data: {counter:0, weight:0, id: 'ZX', source: 'Z', target: 'X' , label: ""} },
      // { data: {counter:0, weight:0, id: 'bc', source: 'Y', target: 'Z', label: "-"} },
    ]
  },


});

var layout = cy.layout({
  name: 'circle'
});

layout.run();

const edge_states = ["",""];
const edge_colours = ["#ccc","#000"]
const edge_type = ['dashed','solid' ] 
const edge_weight = [2,0] 



cy.on('tap', 'edge', function(evt){
  var ele = evt.target;
  var edges = cy.edges();
  var form_data = [];
  // console.log(iterator(numbers, ele.data('counter'))[0] );
  ele.data('label', iterator(edge_states, ele.data('counter'))[0]);
  ele.data('counter', iterator(edge_states, ele.data('counter'))[1]);
  ele.data('weight', iterator(edge_weight, ele.data('counter'))[0]);
  ele.style('line-style', edge_type[ele.data('counter')] );
  ele.style('line-color', edge_colours[ele.data('counter')] );
  for (var i = 0; i < edges.length; i++) {
    form_data.push(edges[i]._private.data);
  }
  console.log(form_data);
  liveSend(form_data);
  // sendValue(form_data)
  form_data = [];
});

function iterator(array, i) {
  var index=(i+1)% array.length;
  var value = array[index]; 

    return [value, index];
  };




$(document).ready(function () {

(function ($) {

    $('#filter').keyup(function () {

        var rex = new RegExp($(this).val(), 'i');
        $('.searchable tr').hide();
        $('.searchable tr').filter(function () {
            return rex.test($(this).text());
        }).show();
    });
    
    $('#filterx').on('change', function(){
        
        if(this.checked){
            $('.searchable tr').hide();
            document.getElementById('filterx0').checked = false;
            $('.searchable tr').filter(function() {
                return ($(this).find('td').eq(1).text() !== "0" &&
                        $(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery').checked, document.getElementById('filtery0').checked ) &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz').checked, document.getElementById('filterz0').checked ))
            }).show();
            document.getElementById("freqs").innerText = (`Freqs: ${xs/(tbl.length-2)}, ${ys/(tbl.length-2)}, ${zs/(tbl.length-2)}`);

        }else{
            $('.searchable tr').filter(function() {
               return ($(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery').checked, document.getElementById('filtery0').checked ) &&
                       $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz').checked, document.getElementById('filterz0').checked ))
            }).show();
            document.getElementById("freqs").innerText = (`Freqs: ${xs/(tbl.length-2)}, ${ys/(tbl.length-2)}, ${zs/(tbl.length-2)}`);
        }
    });

    $('#filterx0').on('change', function(){
        
        if(this.checked){
            $('.searchable tr').hide();
            document.getElementById('filterx').checked = false;
            $('.searchable tr').filter(function() {
                return ($(this).find('td').eq(1).text() !== "1" &&
                        $(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery').checked, document.getElementById('filtery0').checked ) &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz').checked, document.getElementById('filterz0').checked ))
            }).show();
            document.getElementById("freqs").innerText = (`Freqs: ${xs/(tbl.length-2)}, ${ys/(tbl.length-2)}, ${zs/(tbl.length-2)}`);

        }else{
            $('.searchable tr').filter(function() {
               return ($(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery').checked, document.getElementById('filtery0').checked ) &&
                       $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz').checked, document.getElementById('filterz0').checked ))
            }).show();
            document.getElementById("freqs").innerText = (`Freqs: ${xs/(tbl.length-2)}, ${ys/(tbl.length-2)}, ${zs/(tbl.length-2)}`);
        }
        
        
    });

    $('#filtery').on('change', function(){
        
        if(this.checked){
            $('.searchable tr').hide();
            document.getElementById('filtery0').checked = false;
            $('.searchable tr').filter(function() {
                return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx').checked, document.getElementById('filterx0').checked ) &&
                        $(this).find('td').eq(2).text() !== "0" &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz').checked, document.getElementById('filterz0').checked ))
            }).show();
            document.getElementById("freqs").innerText = (`Freqs: ${xs/(tbl.length-2)}, ${ys/(tbl.length-2)}, ${zs/(tbl.length-2)}`);

        }else{
            $('.searchable tr').filter(function() {
               return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx').checked, document.getElementById('filterx0').checked ) &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz').checked, document.getElementById('filterz0').checked ))
            }).show();
            document.getElementById("freqs").innerText = (`Freqs: ${xs/(tbl.length-2)}, ${ys/(tbl.length-2)}, ${zs/(tbl.length-2)}`);
        }
        
        
    });

    $('#filtery0').on('change', function(){
        
        if(this.checked){
            $('.searchable tr').hide();
            document.getElementById('filtery').checked = false;
            $('.searchable tr').filter(function() {
                return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx').checked, document.getElementById('filterx0').checked ) &&
                        $(this).find('td').eq(2).text() !== "1" &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz').checked, document.getElementById('filterz0').checked ))
            }).show();
            document.getElementById("freqs").innerText = (`Freqs: ${xs/(tbl.length-2)}, ${ys/(tbl.length-2)}, ${zs/(tbl.length-2)}`);

        }else{
            $('.searchable tr').filter(function() {
               return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx').checked, document.getElementById('filterx0').checked ) &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz').checked, document.getElementById('filterz0').checked ))
            }).show();
            document.getElementById("freqs").innerText = (`Freqs: ${xs/(tbl.length-2)}, ${ys/(tbl.length-2)}, ${zs/(tbl.length-2)}`);
        }
        
        
    });
    
    $('#filterz').on('change', function(){
        
        if(this.checked){
            $('.searchable tr').hide();
            document.getElementById('filterz0').checked = false;
            $('.searchable tr').filter(function() {
               return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx').checked, document.getElementById('filterx0').checked ) &&
                        $(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery').checked, document.getElementById('filtery0').checked ) &&
                        $(this).find('td').eq(3).text() !== "0")
            }).show();
        }else{
            $('.searchable tr').filter(function() {
               return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx').checked, document.getElementById('filterx0').checked ) &&
                        $(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery').checked, document.getElementById('filtery0').checked ))
            }).show();
        }
        
        
    });

    $('#filterz0').on('change', function(){
        
        if(this.checked){
            $('.searchable tr').hide();
            document.getElementById('filterz').checked = false;
            $('.searchable tr').filter(function() {
               return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx').checked, document.getElementById('filterx0').checked ) &&
                        $(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery').checked, document.getElementById('filtery0').checked ) &&
                        $(this).find('td').eq(3).text() !== "1")
            }).show();
        }else{
           $('.searchable tr').filter(function() {
               return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx').checked, document.getElementById('filterx0').checked ) &&
                        $(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery').checked, document.getElementById('filtery0').checked ))
            }).show();

        }
        
        
    });

  }(jQuery));







});
$(document).ready(function () {
  (function ($) {
    $('#filterx_i').on('change', function(){
        if(this.checked){
            $('.searchable2 tr').hide();
            document.getElementById('filterx0_i').checked = false;
            $('.searchable2 tr').filter(function() {
                return ($(this).find('td').eq(1).text() !== "0" &&
                        $(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery_i').checked, document.getElementById('filtery0_i').checked ) &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz_i').checked, document.getElementById('filterz0_i').checked ))
            }).show();
        }else{
            $('.searchable2 tr').filter(function() {
               return ($(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery_i').checked, document.getElementById('filtery0_i').checked ) &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz_i').checked, document.getElementById('filterz0_i').checked ))
            }).show();
        }


    });


    $('#filterx0_i').on('change', function(){

    if(this.checked){
        $('.searchable2 tr').hide();
        document.getElementById('filterx_i').checked = false;
        $('.searchable2 tr').filter(function() {
            return ($(this).find('td').eq(1).text() !== "1" &&
                        $(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery_i').checked, document.getElementById('filtery0_i').checked ) &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz_i').checked, document.getElementById('filterz0_i').checked ))
        }).show();
    }else{
        $('.searchable2 tr').filter(function() {
               return ($(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery_i').checked, document.getElementById('filtery0_i').checked ) &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz_i').checked, document.getElementById('filterz0_i').checked ))
            }).show();
    }


    });

    $('#filtery_i').on('change', function(){

    if(this.checked){
        $('.searchable2 tr').hide();
         document.getElementById('filtery0_i').checked = false;
        $('.searchable2 tr').filter(function() {
            return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx_i').checked, document.getElementById('filterx0_i').checked ) &&
                        $(this).find('td').eq(2).text() !== "0" &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz_i').checked, document.getElementById('filterz0_i').checked ))
        }).show();
    }else{
        $('.searchable2 tr').filter(function() {
               return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx_i').checked, document.getElementById('filterx0_i').checked ) &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz_i').checked, document.getElementById('filterz0_i').checked ))
            }).show();
    }


    });

    $('#filtery0_i').on('change', function(){

    if(this.checked){
        $('.searchable2 tr').hide();
        document.getElementById('filtery_i').checked = false;
        $('.searchable2 tr').filter(function() {
            return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx_i').checked, document.getElementById('filterx0_i').checked ) &&
                        $(this).find('td').eq(2).text() !== "1" &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz_i').checked, document.getElementById('filterz0_i').checked ))
        }).show();
    }else{
        $('.searchable2 tr').filter(function() {
               return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx_i').checked, document.getElementById('filterx0_i').checked ) &&
                        $(this).find('td').eq(3).text() !== crfunc(document.getElementById('filterz_i').checked, document.getElementById('filterz0_i').checked ))
            }).show();
    }


    });

    $('#filterz_i').on('change', function(){

    if(this.checked){
        $('.searchable2 tr').hide();
        document.getElementById('filterz0_i').checked = false;
        $('.searchable2 tr').filter(function() {
            return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx_i').checked, document.getElementById('filterx0_i').checked ) &&
                        $(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery_i').checked, document.getElementById('filtery0_i').checked ) &&
                        $(this).find('td').eq(3).text() !== "0")
        }).show();
    }else{
        $('.searchable2 tr').filter(function() {
               return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx_i').checked, document.getElementById('filterx0_i').checked ) &&
                        $(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery_i').checked, document.getElementById('filtery0_i').checked ))
            }).show();
    }


    });

    $('#filterz0_i').on('change', function(){

    if(this.checked){
        $('.searchable2 tr').hide();
        document.getElementById('filterz_i').checked = false;
        $('.searchable2 tr').filter(function() {
            return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx_i').checked, document.getElementById('filterx0_i').checked ) &&
                        $(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery_i').checked, document.getElementById('filtery0_i').checked ) &&
                        $(this).find('td').eq(3).text() !== "1")
        }).show();
    }else{
        $('.searchable2 tr').filter(function() {
               return ($(this).find('td').eq(1).text() !== crfunc(document.getElementById('filterx_i').checked, document.getElementById('filterx0_i').checked ) &&
                        $(this).find('td').eq(2).text() !== crfunc(document.getElementById('filtery_i').checked, document.getElementById('filtery0_i').checked ))
            }).show();
    }


    });



}(jQuery));

});

let toggleX = button => {
    let element = document.getElementById("observ");
    let hidden2 = element.getAttribute("hidden");
    let anoth_element = document.getElementById("interv");
    let anoth_hidden = anoth_element.getAttribute("hidden");
    if (hidden2) {
       element.removeAttribute("hidden");
       anoth_element.setAttribute( "hidden","hidden");
       button.innerText = 'Force X=1 (DO X)';
    } else {
       anoth_element.removeAttribute("hidden");
       element.setAttribute("hidden", "hidden");
       button.innerText = "Show Observational";
    }
}

let toggleY = button => {
    let element = document.getElementById("observ");
    let hidden2 = element.getAttribute("hidden");
    let anoth_element = document.getElementById("interv");
    let anoth_hidden = anoth_element.getAttribute("hidden");
    if (hidden2) {
       element.removeAttribute("hidden");
       anoth_element.setAttribute( "hidden","hidden");
       button.innerText = 'Force Y=1 (DO Y)';
    } else {
       anoth_element.removeAttribute("hidden");
       element.setAttribute("hidden", "hidden");
       button.innerText = "Show Observational";
    }
}

let toggleZ = button => {
    let element = document.getElementById("observ");
    let hidden2 = element.getAttribute("hidden");
    let anoth_element = document.getElementById("interv");
    let anoth_hidden = anoth_element.getAttribute("hidden");
    if (hidden2) {
       element.removeAttribute("hidden");
       anoth_element.setAttribute( "hidden","hidden");
       button.innerText = 'Force Z=1 (DO Z)';
    } else {
       anoth_element.removeAttribute("hidden");
       element.setAttribute("hidden", "hidden");
       button.innerText = "Show Observational";
    }
}
// var i = 1
// $('#myButton').on('click', function(event) {
//   i = i+1
//   if (i/2==0){document.getElementById("observ").style.visibility = "hidden";}
//   else {document.getElementById("observ").style.visibility = "visible" }
//    }
//   );

</script>

{{ endblock }}






