

{{ block title }}
Квиз
{{ endblock }}
{{ block content }}
<style>
    .otree-body {
        --max-width: 800px; /* Define the variable */
        max-width: var(--max-width); /* Apply the variable */
    }

    .checkbox-label {
        display: inline-block;
        width: calc(var(--max-width) - 20px); /* Adjust as needed */
        white-space: nowrap;
        overflow-x: scroll;
    }
    </style>
Прежде чем приступить к выполнению задания, ответьте, пожалуйста, на следующие вопросы:


<p>1. Предположим, что X Сильное (по отношению к Y) и зрелое, а Y слабое (по отношению к X) и незрелое. <br>
 Отметьте все условия, при которых МОЖНО НАБЛЮДАТЬ значения X=1 а и Y=0</p>

{% for field in form %}
{% if field.name in C.multipple_1 %}
<input  type=checkbox name="{{ field.name }}" value="1">
{{ field.label }}
<br>
{{ formfield_errors  field.name  }}
{% endif %}
{% endfor %}


{{formfield 'q_2'}}


3. Выберите НЕВЕРНОЕ(-ые) окончание(-я) утверждения. <br>
    Известно, что сильные и слабые взаимодействия работают для первой и второй клумбы (строк), 
    Следовательно если X сильное и Y слабое (по отношению друг к другу), то:

{% for field in form %}
{% if field.name in C.multipple_2 %}
<label class="checkbox-label">
    <input type="checkbox" name="{{ field.name }}" value="1"> {{ field.label|safe }}
</label><br>
{{ formfield_errors  field.name  }}
{% endif %}
{% endfor %}


{{formfield 'q_4'}}

5. Рассмотрим упрощённую задачу, где продемонстрированы наблюдения только 2-х типов семян (см. Таблицу 1 ниже), 
    и известно,что сильные и слабые взаимодействия работают (песчанные почвы), 
    причем все зрелые семена известны и помечены оранжевым цветом. 
    <br>Тогда следующие типы зависимости между семенами X и Y можно исключить:
    <br>

{% for field in form %}
{% if field.name in C.multipple_3 %}
<label>
    <input type="checkbox" name="{{ field.name }}" value="1"> {{ field.label|safe }}
</label><br>
{{ formfield_errors  field.name  }}
{% endif %}
{% endfor %}

{{formfield 'q_6'}}
{{formfield 'q_7'}}
{{formfield 'q_8'}}



<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        SHOW INSTRUCTIONS
      </a>
    </div>
      <div class="collapse" id="collapseExample">
        <div id = "presentation" style="text-align: center">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQfpoIUoXDowaEcC6CMAdC47D0FIHAROL9VAEuM55wTIt00YLXAiStHxL6C2j1aEBJdndxuwwzjw55R/embed?start=false&loop=true&delayms=60000" frameborder="0" width="720" height="441" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
      </div>

<script>
    if (window.location.hash == '#en'){
        document.getElementById("presentation").innerHTML = '<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQuckfWy0p_GyPx5ENCW_-EN226UAqVcbrxA7GxTxjmhtZ-itGAz1PSgeqSDQgfyiWP-fovuntr5WxN/embed?start=false&loop=true&delayms=60000" frameBorder="0" width="720" height="441" allowFullScreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>'
    }
    else if(window.location.hash == '#ru'){
        document.getElementById("presentation").innerHTML = '<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQuRy8R1oYvUeHeUNeBG1QkilrLQhry6MP8cgEnshJoEc9-y8CU3fjaBbnBoL4RIusxQQ1n2H55bWCN/embed?start=false&loop=false&delayms=6000" frameborder="0" width="720" height="441" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>'
    }
    console.log(window.location.hash)
</script>

{{ next_button }}

<div>
    Таблица 1
    <div><img src="https://github.com/just-yagodkin/GitStorage/blob/master/pic1.png?raw=true"/></div>
</div>
{#<div>#}
{#    <a> Таблица 2</a>#}
{#    <div><img src="https://github.com/just-yagodkin/GitStorage/blob/master/pic2.png?raw=true"/></div>#}
{#</div>#}

<!-- 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("label").each(function() {
            // Modify attributes of each label element here
            $(this).addClass("checkbox-label");
            // Example: add a class to each label element
        });
    });
</script> -->
{{ endblock }}
